.transparent {
    opacity: 0.2;
}

.modal {
    width: 25%;
}

.rock {
    color: red;
    font-family: 'Righteous', cursive;
}

.paper {
    color: darkgray;
    font-family: 'Luckiest Guy', cursive;
}

.scissors {
    color: navy;
    font-family: 'Raleway', sans-serif;
}

blockquote {
    margin-top: 0;
    margin-bottom: 0;

}

@media only screen and (max-width: 600px) {
    .modal {
        width: 75%;
    }

    .brand-logo {
        width: 100%;
        text-align: center;
    }

    .parallax img {
        width: auto;
        height: 200px;
    }
}

#portfolio {
    padding-top: 20px;
}

.page-footer {
    padding-bottom: 20px;
}

.quote {
    padding-top: 20px;
}

.overlay {
    width: 100%;
}

.h100 {
    height: 100%;
}

.section {
    height: 400px;
}

.story-header {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
}

.header {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 10px;
    text-rendering: optimizeLegibility;
}

.overlay,
.parallax-text {
    font-family: 'Lato', sans-serif;
    letter-spacing: .11em;
    font-size: 2.25em;
    text-rendering: optimizeLegibility;
}